*{
    box-sizing: border-box;
}
body{
    background-color:hsl(212, 45%, 89%) ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
}
.qr-code{
    width: 100%;
    border-radius: 20px;
}
.text h1{
    font-family:"Outfit",sans-serif ;
    font-size: 1.8rem;
    text-align: center;
    color:hsl(218, 44%, 22%) ;
    
}
.text p{
    font-family:"Outfit",sans-serif ;
    font-size: 16px;
    text-align: center;
    color:hsl(220, 15%, 55%) ;
}